
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}
main{
    margin-bottom: 73px;
}
body{
       background-color: rgb(255, 248, 238);
}
footer.footer{

    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene{
    background-image: url(../images/istockphoto-1179125140-1024x1024.jpg);
    background-size: cover;
    background-position: center center;
 
    height: 50vh; /* Prend toute la hauteur de l'écran */
    display: flex;
    align-items: center;
    justify-content: center


 
}
.barre-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    top: -100px;
    
}

.btn-primary{
    width: auto;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
}

.btn-primary2{
    width: auto;
 
    display: inline-block;
    text-align: center;
}

.bloc{
    padding: 10px;
}

.card-img-top {
    border-radius: 12px; /* Coins arrondis pour un effet moderne */
    border: 3px solid #65DC6D; /* Bordure bleue (peut être modifiée) */
    
    
  
}
.container-cards {
    max-width: 400px; /* Définit une largeur maximale similaire à un mobile */
    margin: 0 auto; /* Centre le contenu horizontalement */

}

.card {
    width: 100%; /* Prend toute la largeur définie par le conteneur */
    margin-bottom: 20px; /* Ajoute un espace entre les cartes */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
    border-radius: 12px; /* Arrondit les coins pour un effet plus doux */
}

